<template>
    <div>
        <div class="modal fade" ref="newSaleModal" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">


                <div class="modal-header">
                    <h5 class="modal-title">
                        <template v-if="order">Editar pedido #{{ order.id }}</template>
                        <template v-else>Nuevo pedido</template>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                

                <div class="modal-body">
                    <plates :restaurantId="restaurantId" @addPlate="addPlateToOrder" ref="platesChild"></plates>
                    <form action="" v-on:submit.prevent="">
                    <hr />
                    <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(plate,index) in platesInOrder" :key="index">
                                <td scope="row">{{plate.name}}</td>
                                <td>${{plate.pivot.price}}</td>
                                <td>{{plate.pivot.quantity}}</td>
                                <td><button type="button" @click="platesInOrder.splice(index,1)" class="btn btn-outline-danger btn-sm">
                                    <font-awesome-icon icon="times" />
                                </button></td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <div class="float-right">
                            <h3><span class="badge badge-secondary">Subtotal: ${{ total }}</span></h3>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label for="comments">Comentarios</label>
                        <input type="text" class="form-control" name="comments" v-model="comments">
                    </div>
                    <hr />
                    <div class="form-group" v-if="!table">
                        <label for="client">Cliente</label>
                        <input type="text" class="form-control" name="client">
                    </div>                    
                    <div v-if="errors.length">
                        <hr />
                        <b>Por favor corrige los siguientes errore(s):</b>
                        <ul>
                        <li v-for="error in errors">{{ error }}</li>
                        </ul>
                    </div>
                    </form> 
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <v-button :showIcon="isLoading" @clicked="storeOrder">Guardar</v-button>
                </div>
                   

            </div>
        </div>
        </div>
    </div>
</template>

<script>
import Plates from '../Plate/Plates.vue';

export default {
    props: ['restaurantId', 'table', 'sale', 'order'],
    components: {
        Plates,
    },
    data() {
        return {
            platesInOrder: [],
            comments: '',
            errors: [],
            isLoading: false,
        }
    },
    mounted() {
        var vm = this;
        $(this.$refs.newSaleModal).on("hidden.bs.modal", function(){
            vm.clearForm();
            vm.isLoading = false;
        })
        $(this.$refs.newSaleModal).on('shown.bs.modal', function() {
            $('input:visible:enabled:first', this).focus();
        });
    },
    methods: {
        storeOrder() {
            if(this.checkErrors()) {
                if(this.sale) {
                    this.isLoading = true;
                    let params = {
                        comments: this.comments,
                        sale_id: this.sale.id,
                        plates: this.platesInOrder
                    };                      
                    if(this.order) {
                        axios.put('/api/orders/' + this.order.id, params).then((response) => {
                            this.isLoading = false;
                            this.hide();
                            this.$emit('orderEdited', this.order.id);
                        });
                    } else {
                        axios.post('/api/orders', params).then((response) => {
                            this.isLoading = false;
                            this.hide();
                            this.$emit('orderAdded', response.data.id);                
                        });
                    }
                } else {
                    this.isLoading = true;
                    let params = {
                        restaurant_id: this.restaurantId,
                        table_id: this.table ? this.table.id : null,
                        orders: [{
                            comments: this.comments,
                            plates: this.platesInOrder
                        }]
                    };
                    axios.post('/api/sales', params).then((response) => {
                        this.isLoading = false;
                        this.hide();
                        this.$emit('saleSaved', response.data.id);  
                    });
                }
            }
        },
        addPlateToOrder(plate) {
            plate.pivot.price = plate.price;
            this.platesInOrder.push(plate);
        },
        checkErrors() {
            if(this.platesInOrder.length == 0) {
                this.errors = [];
                this.errors.push('No agregó platos al pedido.');
                return false;
            }
            return true;
        },
        clearForm() {
            this.platesInOrder = [];
            this.comments = '';
            this.errors = [];
            this.$refs.platesChild.search = '';
            var i;
            var quantities = this.$refs.platesChild.$refs.quantity;
            for(i=0; i<quantities.length; i++) {
                quantities[i].value = '';
            }
        },
        show() {
            if(this.order) {
                this.platesInOrder = _.cloneDeep(this.order.plates);
                this.comments = this.order.comments;
            }
            $(this.$refs.newSaleModal).modal('show');
        },
        hide() {
            $(this.$refs.newSaleModal).modal('hide');
        }
    },
    computed: {
        total:function() {
            var i;
            var total = 0;
            for(i=0;i<this.platesInOrder.length;i++) {
                total += Number(this.platesInOrder[i].pivot.price * this.platesInOrder[i].pivot.quantity);               
            }
            return total.toFixed(2);
        }
    }    
}

</script>
