<template>
    <div>
        <div class="card" v-for="order in sale.orders" :key="order.id" 
         v-bind:class="{ 'card-ready':  order.ready, 'card-waiting': !order.ready}" style="margin-bottom:10px">
            <div class="card-header">
                <h5 style="float:left;padding-top:5px;">Pedido #{{ order.id }} 
                <span style="color:#a5a5a5"> - {{ onlyTime(order.created_at) }}</span>
                </h5> 
                <div style="float:right;">
                    <button @click="$emit('showNewSaleModal', sale, order)" class="btn btn-outline-primary btn-sm" style="font-size: 0.9rem;padding-right:6px;">
                        <font-awesome-icon icon="edit" />
                    </button>                
                    <button type="button" @click="deleteOrderConfirm(order)" class="btn btn-outline-danger btn-sm" style="font-size: 0.9rem;">
                        <font-awesome-icon icon="times" />
                    </button>
                </div>
            </div>
            <div class="card-body">
                <p v-for="(plate,index) in order.plates" :key="index">
                    <strong>
                    {{ plate.pivot.quantity }}
                    {{ plate.name }}(s) 
                    </strong>
                </p>
                <hr />
                <template v-if="order.comments">Comentarios: {{ order.comments }}</template>
            </div>
        </div>
        <confirm-modal @confirmed="paySale" ref="confirmModal">
            <template slot="title">Cobro</template>
            <template slot="data">Total: ${{ total }}</template>
        </confirm-modal>

        <confirm-modal @confirmed="deleteOrder" ref="deleteModal">
            <template slot="title">Eliminar</template>
            <template slot="data">¿Está seguro que desea eliminar el pedido?</template>
        </confirm-modal>
        
        <div class="row">
            <div class="col">
                <v-button @clicked="showNewSaleModal" v-if="sale.table_id">Añadir pedido</v-button>
                <v-button @clicked="paySaleConfirm">Cobrar</v-button>
            </div>
            <div class="col">
                <div class="float-right">
                <h3><span class="badge badge-success">Total: ${{ total }}</span></h3>
                </div>
            </div>
        </div>
        
        
        
    </div>
</template>

<script>
import ConfirmModal from '../Shared/ConfirmModal.vue';

export default {
    components: {
        ConfirmModal
    },
    props: ['sale'],
    data() {
        return {
            actualOrder: null,
        }
    },
    methods:{
        paySaleConfirm() {
            $(this.$refs.confirmModal.$el).modal('show');
        },
        paySale() {
            axios.put('/api/sales/' + this.sale.id, {paid: true, amount: this.total}).then((response) => {
                this.$emit('salePaid', this.sale);
            });
        },
        showNewSaleModal() {
            this.$emit('showNewSaleModal', this.sale, null);
        },
        deleteOrderConfirm(order) {
            $(this.$refs.deleteModal.$el).modal('show');
            this.actualOrder = order;
        },
        deleteOrder() {
            axios.delete('/api/orders/' + this.actualOrder.id).then((response) => {
                this.$emit('orderDeleted', this.sale, this.actualOrder);
                this.actualOrder = null;
            });
        }
    },
    computed: {
        total:function() {
            var i;
            var total = 0;
            for(i=0;i<this.sale.orders.length;i++) {
                var j;
                for(j=0;j<this.sale.orders[i].plates.length;j++) {
                    total += Number(this.sale.orders[i].plates[j].pivot.price * this.sale.orders[i].plates[j].pivot.quantity);
                }                
            }
            return total.toFixed(2);
        }
    }
}
</script>

<style>
.card-ready {
    border: 2px solid #28a745;
    transition: 0.5s;
}
.card-waiting {
    border: 2px solid #ffc107;
}
</style>