<template>
    <div>
        <div class="card">
            <div class="card-header">
                <h5 style="float:left;padding-top:5px">Mi restaurante</h5>
            </div>
            
            <div class="card-body" v-if="restaurant">
                <restaurant :restaurant="restaurant"></restaurant>
            </div>
        </div>
    </div>
</template>

<script>
import NewRestaurant from './NewRestaurant.vue';
import Restaurant from './Restaurant.vue';

    export default {
        components: {
            Restaurant,
            NewRestaurant
        },
        data(){
            return {
                restaurant: null,
            }
        },
        beforeRouteEnter (to, from, next) {
            axios.get('/api/restaurants').then((response) => {
                next(vm => (vm.restaurant = response.data) )
            })
        }
    }
</script>
