<template>
    <div>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".bd-example-modal-lg" style="float:right"><font-awesome-icon icon="plus-circle" />&nbsp;Nuevo</button>
        <div class="modal fade bd-example-modal-lg" ref="newRestaurantModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Nuevo restaurante</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    <div class="modal-body">
                        <form action="" v-on:submit.prevent="">
                            <div class="form-group">
                                <label for="name">Nombre</label>
                                <input type="text" class="form-control" name="name"
                                v-model="name" ref="name">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <v-button :showIcon="isLoading" @clicked="newRestaurant">Guardar</v-button>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                name: '',
                isLoading: false,
            };
        },
        mounted() {
            var vm = this;
            $(this.$refs.newRestaurantModal).on("hidden.bs.modal", function(){
                vm.name = '';
            })
            $(this.$refs.newRestaurantModal).on('shown.bs.modal', function() {
                $('input:visible:enabled:first', this).focus();
            });
        },
        methods: {
            newRestaurant(){
                this.isLoading = true;
                const params = {
                    name: this.name
                }
                axios.post('/api/restaurants', params).then((response) => {
                    let restaurant = {
                        id: response.data.id,
                        name: this.name
                    };
                    this.$emit('new', restaurant);
                    $(this.$refs.newRestaurantModal).modal('hide');
                    this.name = '';
                    this.isLoading = false;
                });
            }
        }
    }
</script>
