<template>
<div>    
    <div class="card"> 
        <div class="card-header">
            <h5 style="float:left;padding-top:5px">Ventas</h5>
        </div>
        <div class="card-body">        
            <date-picker v-model="date" range lang="es" format="DD-MM-YYYY" :clearable="false" 
                :shortcuts="shortcuts" :not-after="new Date()" confirm @confirm="onDateSelected"></date-picker> 
            <ve-line :data="chartData" :settings="chartSettings"></ve-line>
        </div>
    </div>
</div>
</template>


<script>
import moment from 'moment';
import VeLine from 'v-charts/lib/line.common';
import DatePicker from 'vue2-datepicker'

export default {
    props: ['id'],
    components: { VeLine, DatePicker },
    data() {
        return {
            laravelData: {},
            chartData: {
                columns: ['date', 'income'],
                rows: []
            },
            chartSettings: {
                labelMap: {
                    income: 'Ingresos'
                },
                dimension: ['date']
            },         
            date: null,
            shortcuts: [
                {
                    text: 'Hoy',
                    onClick: () => {
                        this.date = [ new Date(), new Date() ]
                    }
                },
                {
                    text: 'Ayer',
                    onClick: () => {
                        var yesterday = new Date();
                        yesterday.setDate(yesterday.getDate() - 1);                        
                        this.date = [ yesterday, yesterday ]
                    }
                },                
                {
                    text: 'Ultimos 30 días',
                    onClick: () => {
                        var start = new Date();
                        start.setDate(start.getDate() - 30);
                        this.date = [ start, new Date() ]
                    }
                }                
            ],            
        };
    },
    mounted() {
        moment.locale('es');
    },
    methods: {
        getGraphic() {
            const params = {
                start_date: moment(this.date[0]).format('YYYY-MM-DD'), 
                end_date: moment(this.date[1]).format('YYYY-MM-DD')              
            }
            axios.get('/api/restaurants/' + this.id + '/reportSales', {params}).then((response) => {
                this.chartData.rows = Object.assign([], response.data).reverse();
                // Cast from int to string
                Object.keys(this.chartData.rows).forEach(key => {
                    this.chartData.rows[key].date = moment(this.chartData.rows[key].date, 'YYYY-MM-DD').format('DD-MM-YYYY');
                });
            })
        },
        onDateSelected: function (date) {
            this.getGraphic();
        }        
    },
    beforeRouteEnter (to, from, next) {
        next(vm => {
            var start = new Date();
            start.setDate(start.getDate() - 30);
            vm.date = new Array(start, new Date());
            vm.getGraphic();
        })
    },

}
</script>
