<template>
    <div class="card text-white bg-warning mb-3 restaurant-box">
        <div class="card-header" style="text-align: center;">  {{ restaurant.name }} </div>
        <div class="card-body">
        <div class="restaurant-links" v-if="restaurant">
            <ul>
                <li>
                    <router-link :to="{ name: 'tables', params: { id: restaurant.id } } ">Mesas</router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'orders', params: { id: restaurant.id } } ">Cocina</router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'plates', params: { id: restaurant.id } } ">Platos</router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'report-sales', params: { id: restaurant.id } } ">Reporte Ventas</router-link>
                </li>            
            </ul>
        </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['restaurant'],
        data(){
            return{
            };
        },
    }
</script>

<style>
.restaurant-box {
    float:left;
    margin-left:5px;
}
.restaurant-box:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
.restaurant-links ul li a {
    margin: 10px;
    padding: 5px;
    color: black;
}
.restaurant-links ul {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-decoration: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.restaurant-links ul li {
    background-color: #FFEDAF;
    border-radius: 3px;
    background-image: url('/images/gray_smiley.png');
    background-position: 7px 3px;
    background-repeat: no-repeat;
    color: #666;
    list-style: none outside none;
    padding-left: 29px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
}
</style>