<template>
    <div>
        <div class="card">
            <div class="card-header">
                <h5 style="float:left;padding-top:5px">Configuración</h5>
            </div>
    
            <div class="card-body">
                <h4><span class="badge badge-secondary">Permisos</span></h4>
                <hr />          
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['id'],
        data() {
            return {
            }
        },
        methods: {
        }
    }
</script>


<style>
.settings-select {
    display: inline;
    width: auto;
}
</style>