<template>
    <div>
        <notifications group="foo" position="top center" classes="my-style"/>
        <div class="card">
            <h5 class="card-header">Pedidos</h5>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-3">
                    <label for="inputState">Periodo</label>
                    <select id="inputState" class="form-control" v-model="periodSelected" @change="onChangePeriod($event)">
                        <option v-for="period in periods" v-bind:value="period.value">
                        {{ period.text }}
                        </option>
                    </select>
                    </div>  
                    <div class="form-group col-md-2">
                    <label for="inputState">Estado</label>
                    <select id="inputState" class="form-control" v-model="stateSelected" @change="onChangeState($event)">
                        <option v-for="state in states" v-bind:value="state.value">
                        {{ state.text }}
                        </option>
                    </select>
                    </div>  
                </div>       
                <div class="card" v-for="order in filteredOrders" :key="order.id" 
                 v-bind:class="{ 'card-ready':  order.ready, 'card-waiting': !order.ready}" style="margin-bottom:10px">
                    <h5 class="card-header">Pedido #{{ order.id }}
                    <span style="color:#a5a5a5"> - {{ onlyTime(order.created_at) }}</span>
                    <button v-if="!order.ready" @click="setReady(order)" type="button" class="btn btn-warning btn-sm" style="float:right">
                    <font-awesome-icon icon="bell" /> Listo
                    </button>
                    </h5> 
                    
                    <div class="card-body">
                        <p v-if="order.sale">{{ order.sale.name }}<p>
                        <p v-for="(plate,index) in order.plates" :key="index">
                            <strong>
                            {{ plate.pivot.quantity }}
                            {{ plate.name }}(s)
                            </strong>
                        </p>
                        <hr />
                        Comentarios: {{ order.comments }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';

    export default {
        props: ['id'], //restaurant_id
        data(){
            return {
                orders: [],
                periodSelected: '0',
                periods: [
                    { text: 'Ultimas 24 horas', value: '0' },
                    { text: 'Ultimos 7 dias', value: '1' },
                    { text: 'Ultimos 30 dias', value: '2' },
                ],
                stateSelected: '2',
                states: [
                    { text: 'Pendientes', value: '0' },
                    { text: 'Listos', value: '1' },
                    { text: 'Todos', value: '2' },
                ]                
            }
        },
        methods: {
            setReady(order) {
                const updOrder = {
                    id: order.id,
                    ready: 1
                }
                axios.put('/api/orders/' + order.id, updOrder).then(response => {
                    this.orders[this.orders.indexOf(order)].ready = 1;
                }).catch((error) => {
                    console.log(error)
                });
            },
            onChangePeriod(event) {
                let params = {
                    restaurant_id: this.id,
                    plates: true
                };
                switch (event.target.value) {
                    case '0':
                        params["start_date"] = moment(moment().subtract(1, 'days')).format("YYYY-MM-DD H:mm:ss");
                        break;
                    case '1':
                        params["start_date"] = moment(moment().subtract(7, 'days')).format("YYYY-MM-DD");
                        break;
                    case '2':
                        params["start_date"] = moment(moment().subtract(30, 'days')).format("YYYY-MM-DD");
                        break;
                }
                console.log(params);
                axios.get('/api/orders', {params}).then((response) => {
                    this.orders = response.data;
                })
            },
            onChangeState(event) {
                console.log(event.target.value)
            }                 
        },
        mounted() {
            moment.locale('es');
            Echo.private('orders.'+this.id)
                .listen('OrderStoredEvent', (e) => {
                    this.$notify({
                        group: 'foo',
                        title: 'Nuevo pedido #' + e.order.id,
                        text: 'Hay un nuevo pedido en espera!',
                        type: 'warn',
                        duration: 20000,                    
                    });
                    axios.get('/api/orders/' + e.order.id, {params: {plates: true}}).then((response) => {
                        this.orders.unshift(response.data);
                    });
                })
        },
        beforeRouteEnter (to, from, next) {
            const params = {
                restaurant_id: to.params.id,
                plates: true,
                start_date: moment(moment().subtract(1, 'days')).format("YYYY-MM-DD H:mm:ss")
            };
            axios.get('/api/orders', {params}).then((response) => {
                next(vm => (vm.orders = response.data) )
            })
        },
        computed: {
            filteredOrders:function()
            {
                var self = this;
                if (self.stateSelected == 2) return this.orders;
                return this.orders.filter(function(order){return order.ready==self.stateSelected});
            }
        }
    }
</script>

<style>
.my-style {
  padding: 10px;
  margin: 0 5px 5px;
  font-size: 14px;
  color: #ffffff;
  background: #ffb648;
  border-left: 5px solid #f48a06;
}

.card-ready {
    border: 2px solid #28a745;
    transition: 0.5s;
}
.card-waiting {
    border: 2px solid #ffc107;
}
</style>