<template>
    <div class="text-center form-wrapper">

        <form class="form-signin" v-on:submit.prevent="">
            <h1 class="h3 mb-3 font-weight-normal">Ingresa a KSResto</h1>

            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus v-model="email" autofocus>

            <label for="inputPassword" class="sr-only">Contraseña</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required v-model="password">
            <v-button :showIcon="isLoading" @clicked="login" class="btn-block" style="font-size: 1.125rem;">Ingresar</v-button>           
            <div v-if="errors.length" class="alert alert-danger" role="alert" style="margin-top:10px">
                <li v-for="error in errors">{{ error }}</li>
            </div>
            <br />
            <router-link :to="{name: 'passwordEmail'}">¿Olvidaste tu contraseña?</router-link>
        </form>
        <br />

    </div>
</template>

<script>
import Echo from 'laravel-echo';

    export default {
        data() {
            return {
                email: '',
                password: '',
                isLoading: false,
                errors: []
            }
        },
        methods: {
            login() {
                this.isLoading = true;
                this.errors = [];
                axios.post('/api/auth/login', {
                    email: this.email,
                    password: this.password
                }).then(response => {
                    // Store token
                    localStorage.setItem('token', response.data.token);
                    // Get payload from token
                    var base64Url = response.data.token.split('.')[1];
                    var base64 = base64Url.replace('-', '+').replace('_', '/');
                    var tokenPayload = JSON.parse(window.atob(base64));
                    // Store user id
                    localStorage.setItem('userId', tokenPayload.sub);
                    this.$store.commit('loginUser', tokenPayload.sub);
                    this.$router.push(this.$route.query.redirect || { name: 'restaurants' });
                    // Change auth for pusher notifications
                    window.Echo.connector.pusher.config.auth.headers['Authorization'] = 'Bearer ' + localStorage.getItem('token');
                }).catch(error => {
                    this.isLoading = false;
                    if (error.response.status == 401) {
                        this.errors.push(error.response.data.msg);
                    }   
                    let errores = error.response.data.errors;
                    Object.keys(errores).forEach((item, index) => {
                        this.errors.push(errores[item][0]);
                    });
                    
                 
                });
            }
        }
    }
</script>

<style scoped>
    .form-wrapper {
        min-height: 100%;
        min-height: 60vh;
        display: flex;
        align-items: center;
    }
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>