<template>

</template>

<script>
    export default {
        mounted () {
            localStorage.removeItem('token')
            localStorage.removeItem('userId')
            this.$store.commit('logoutUser')
            this.$router.push({ name: 'login' })
        }
    }
</script>