<template>
    <div class="card">
    <div class="card-header">
        <h5 style="float:left;padding-top:5px">Cambiar contraseña</h5>
    </div>
    <div class="card-body">
        <div class="alert alert-success" role="alert" v-if="passwordChanged">
            La contraseña se cambió correctamente. Puede <router-link :to="{name: 'login'}">iniciar sesión</router-link> de nuevo.
        </div>        
        <div class="form-group row" v-else>
            <div class="col-md-3 mb-3 mb-md-0">
                <input type="password" class="form-control" placeholder="Contraseña" required autofocus v-model="password">
                <input type="password" class="form-control" placeholder="Confirmar Contraseña" required v-model="password_confirm">           
            </div>
            <div class="col-md-2">
                <v-button :showIcon="isLoading" @clicked="change" class="btn-block">Cambiar</v-button>
            </div>
        </div>
        <div v-if="errors.length" class="alert alert-danger" role="alert">
            <li v-for="error in errors">{{ error }}</li>
        </div>        
    </div>
    </div>
</template>

<script>
export default {
    props: ['token'],
    data() {
        return {
            user: '',
            isLoading: false,
            errors: [],
            password: '',
            password_confirm: '',
            passwordChanged: false,
        }
    },
    methods: {
        change(){
            this.isLoading = true;
            this.errors = [];
            const params = {
                password: this.password,
                email: this.user.email,
                token: this.$route.params.token
            }
            axios.post('/api/auth/password/reset', params).then((response) => {
                this.isLoading = false;
                this.passwordChanged = true;
            }).catch((error) => {
                this.isLoading = false;
                let errores = error.response.data.errors;
                Object.keys(errores).forEach((item, index) => {
                    this.errors.push(errores[item][0]);
                });
            });
        }
    },
    beforeRouteEnter (to, from, next) {
        axios.get('/api/auth/password/find/'+ to.params.token).then((response) => {
            next(vm => (vm.user = response.data))
        }).catch((error) => {
            next({ name: 'notFound' })
        });
    }
}

</script>

