<template>
    <div class="card">
    <div class="card-header">
        <h5 style="float:left;padding-top:5px">Recuperar contraseña</h5>
    </div>
    <div class="card-body">
        <div class="alert alert-success" role="alert" v-if="emailSent">
            {{ emailSent }}
        </div>    
        <div class="form-group row" v-else>
            <div class="col-md-3 mb-3 mb-md-0">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus v-model="email" autofocus>
            </div>
            <div class="col-md-2">
                <v-button :showIcon="isLoading" @clicked="send" class="btn-block">Enviar</v-button>
            </div>
        </div>
        <div v-if="errors.length" class="alert alert-danger" role="alert">
            <li v-for="error in errors">{{ error }}</li>
        </div>        
    </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            email: '',
            emailSent: '',
            isLoading: false,
            errors: [],
        }
    },
    methods: {
        send(){
            this.isLoading = true;
            this.errors = [];
            const params = {
                email: this.email
            }      
            axios.post('api/auth/password/create', params).then((response) => {
                this.isLoading = false;
                this.emailSent = response.data.message;
            }).catch((error) => {
                this.isLoading = false;
                let errores = error.response.data.errors;
                Object.keys(errores).forEach((item, index) => {
                    this.errors.push(errores[item][0]);
                });
            });
        }
    }
}

</script>

