<template>
    <div class="text-center form-wrapper">
        <form class="form-signin" v-on:submit.prevent="">
            <h1 class="h3 mb-3 font-weight-normal">Registro</h1>

            <label for="name" class="sr-only">Nombre y Apellido</label>
            <input type="text" id="name" class="form-control" placeholder="Nombre y Apellido" required autofocus v-model="name" autofocus>

            <label for="email" class="sr-only">Email</label>
            <input type="email" id="email" class="form-control" placeholder="Email" required autofocus v-model="email">

            <label for="password" class="sr-only">Contraseña</label>
            <input type="password" id="password" class="form-control" placeholder="Contraseña" required v-model="password">

            <label for="passwordConfirmation" class="sr-only">Confirmar Contraseña</label>
            <input type="password" id="passwordConfirmation" class="form-control" placeholder="Confirmación de contraseña" required v-model="passwordConfirmation">

            <v-button :showIcon="isLoading" @clicked="register" class="btn-block" style="font-size: 1.125rem;">Registrarme</v-button>
            <br />
            <div v-if="errors.length">
                <b>Por favor corrige los siguientes errore(s):</b>
                <li v-for="error in errors">{{ error }}</li>
            </div>
        </form>

    </div>
</template>

<script>
export default {
    data() {
        return {
            email: '',
            password: '',
            passwordConfirmation: '',
            name: '',
            isLoading: false,
            errors: [],
        }
    },
    methods: {
        register() {
            if(!this.checkErrors()) return false;
            this.isLoading = true;
            axios.post('/api/auth/register', {
                email: this.email,
                password: this.password,
                name: this.name
            }).then(response => {
                localStorage.setItem('token', response.data.token)
                // Get payload from token
                var base64Url = response.data.token.split('.')[1];
                var base64 = base64Url.replace('-', '+').replace('_', '/');
                var tokenPayload = JSON.parse(window.atob(base64));   
                //
                localStorage.setItem('userId', tokenPayload.sub);
                this.$store.commit('loginUser', tokenPayload.sub);
                this.$router.push({ name: 'restaurants' });        
            }).catch(error =>{
                let errores = error.response.data.errors;
                Object.keys(errores).forEach((item, index) => {
                    this.errors.push(errores[item][0]);
                });
                this.isLoading = false;
            });
        },
        checkErrors() {
            this.errors = [];
            if(this.password != this.passwordConfirmation) {
                this.errors = [];
                this.errors.push('Las contraseñas no coinciden.');
                return false;
            }
            return true;
        },
    }
}
</script>

<style scoped>
    .form-wrapper {
        min-height: 100%;
        min-height: 60vh;
        display: flex;
        align-items: center;
    }
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }

    .form-signin input:first-of-type {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-signin input:last-of-type {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .form-signin input:not(:first-of-type):not(:last-of-type) {
        margin-bottom: -1px;
        border-radius: 0;
    }

</style>
