<template>

  <div>
    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
                <h1 class="mb-3">Con organización todo funciona mejor.</h1>
                <h3 class="mb-5">Pensado para su restaurant, bar o delivery.</h3>
                <router-link :to="{ name: 'register' }" tag="a" class="btn btn-outline-top btn-xl js-scroll-trigger">Empezar gratis ya!</router-link>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="/images/demo-screen-1.png" class="img-fluid" alt="">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
<!--
    <section class="download bg-primary text-center" id="download">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Discover what all the buzz is about!</h2>
            <p>Our app is available on any mobile device! Download now to get started!</p>
            <div class="badges">
              <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
              <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </section>
-->
    <section class="features" id="features">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Vos en lo tuyo, nosotros en lo nuestro.</h2>
          <p class="text-muted">Pruebalo gratis por el tiempo que quieras!</p>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-4 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="/images/demo-screen-1.png" class="img-fluid" alt="">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <font-awesome-icon icon="book-open" class="fa-10px" />
                    <h3>Pedidos</h3>
                    <p class="text-muted">Los mozos registran los pedidos desde su celular!</p>                    
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <font-awesome-icon icon="mobile-alt" class="fa-10px" />
                    <h3>Adaptable</h3>
                    <p class="text-muted">Listo para usar desde cualquier dispositivo!</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <font-awesome-icon icon="concierge-bell" class="fa-10px" />
                    <h3>Cocina</h3>
                    <p class="text-muted">La cocina recibe notificaciones de los nuevos pedidos!</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <font-awesome-icon icon="chart-line" class="fa-10px" />
                    <h3>Reportes</h3>
                    <p class="text-muted">Vea como crece su negocio!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="cta">
      <div class="cta-content">
        <div class="container">
          <h2>Deja la espera.<br>Empieza la mejora.</h2>
          <router-link :to="{ name: 'services' }" tag="a" class="btn btn-outline btn-xl js-scroll-trigger">Ver Precios</router-link>
        </div>
      </div>
      <div class="overlay"></div>
    </section>

    <section class="contact bg-primary" id="contact">
      <div class="container">
        <!--<h2>
            <font-awesome-icon icon="heart" />
          los nuevos amigos!</h2>-->
        <ul class="list-inline list-social">
          <li class="list-inline-item social-twitter">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item social-facebook">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item social-google-plus">
            <a href="#">
              <i class="fab fa-google-plus-g"></i>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; KSResto 2018. All Rights Reserved.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacidad</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terminos</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>


</div>

</template>

<script>
export default {
  data: () => ({
  }),
  mounted() {

  },
  methods: {
  }
}
</script>


<style scoped src="../../../public/css/new-age.css">
</style>