<template>
    <div class="row">
        <div class="col-md-12">
            <div style="padding: 40px 15px;text-align: center;">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div style="margin-top:15px;margin-bottom:15px;">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div style="margin-right:10px;">
                    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a><a href="/" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                </div>
            </div>
        </div>
    </div>
</template>