<template>
<nav class="navbar navbar-expand-md navbar-light navbar-laravel" > 
    <div class="container">
        <router-link :to="{ name: 'home' }" tag="a" class="navbar-brand">KSResto</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Left Side Of Navbar -->
            <ul class="navbar-nav mr-auto">

            </ul>            

            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown" v-if="authenticated">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cuenta
                    </a>
                    <ul class="dropdown-menu">
                        <router-link :to="{ name: 'restaurants' }" tag="a" class="dropdown-item">Mi restaurante</router-link>
                        <router-link :to="{ name: 'services' }" tag="a" class="dropdown-item">Actualizar plan</router-link>
                        <div class="dropdown-divider"></div>
                        <router-link :to="{ name: 'logout' }" tag="a" class="dropdown-item">Cerrar sesión</router-link>
                    </ul>
                </li>                
                <template v-else>
                    <li class="nav-item">
                        <router-link :to="{ name: 'services' }" tag="a" class="nav-link">Precios</router-link>
                    </li>                
                    <li class="nav-item">
                        <router-link :to="{ name: 'login' }" tag="a" class="nav-link">Ingresar</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link :to="{ name: 'register' }" tag="a" class="nav-link">Registro</router-link>
                    </li>
                </template>
            </ul>
        </div>
    </div>
</nav>
</template>


<script>
    export default {
        computed: { 
            authenticated: function () { 
                return this.$store.state.authenticated 
            }
        }
    }
</script>


<style>
.navbar-laravel {
    margin-bottom:25px;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #fac564;
}
</style>