<template>
<div>
    <div class="card"> 
        <div class="card-header">
            <h5 style="float:left;padding-top:5px">Platos</h5>
        </div>
        <div class="card-body">
            <button @click="newPlate" class="btn btn-success">Nuevo</button>
            <br />
            <br />
            <div style="max-width:300px">
                <input class="form-control" type="search" placeholder="Buscar plato.." v-model="search" ref="search"> 
            </div>
            <br />
            <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Costo</th>
                    <th scope="col" style="text-align:right">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(plate, index) in filteredPlates" :key="index" :class="{editing: plate == currentPlate}">
                        <td scope="row">
                            <div class="view">{{plate.name}}</div>
                            <div class="edit"><input type="text" v-model="plate.name" ref="name" class="form-control" @keydown.esc="cancelEdit(plate, index)"/></div>
                        </td>
                        <td>
                            <div class="view">${{plate.price}}</div>
                            <div class="edit"><input type="text" v-model="plate.price" class="form-control" @keydown.esc="cancelEdit(plate, index)"/></div>
                        </td>
                        <td>
                            <div class="view">${{plate.cost}}</div>
                            <div class="edit"><input type="text" v-model="plate.cost" class="form-control" @keydown.esc="cancelEdit(plate, index)"/></div>
                        </td>                       
                        <td style="text-align:right">
                            <button @click="editPlate(index)" class="btn btn-secondary view">Editar</button>
                            <button @click="save(plate)" class="btn btn-primary edit">Guardar</button>
                            <button @click="cancelEdit(plate, index)" class="btn btn-secondary edit">Cancelar</button>
                            <button type="button" @click="deleteModal(plate)" class="btn btn-secondary view" >Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <pagination :data="laravelData" @pagination-change-page="getResults"></pagination>

            <confirm-modal @confirmed="removePlate" ref="confirmModal">
                <template slot="title">Eliminar</template>
                <template slot="data">¿Está seguro que desea eliminar el plato?</template>
            </confirm-modal>
            <div v-if="errors.length" class="alert alert-danger" role="alert">
                <li v-for="error in errors">{{ error }}</li>
            </div>
        </div>
    </div>
</div>
</template>


<script>
import ConfirmModal from '../Shared/ConfirmModal.vue';

export default {
    props: ['id'],
    components: {
        ConfirmModal,
    },
    data() {
        return {
            laravelData: {},
            allPlates: [],
            search: '',
            currentPlate: null,
            _beforeEditingCache: null,
            errors: [],
        };
    },
    mounted() {
        this.getResults();
    },
    methods: {
        removePlate() {
            axios.delete('/api/plates/' + this.currentPlate.id).then((response) => {
                this.laravelData.data.splice(this.laravelData.data.indexOf(this.currentPlate), 1);
            });
        },
        deleteModal(plate) {
            var auxPlate = {};
            auxPlate.id = plate.id;
            this.currentPlate = auxPlate;
            $(this.$refs.confirmModal.$el).modal('show');
        },
        save(plate) {
            if(plate.name == '' || plate.price == '' || plate.cost == '') {
                this.errors = [];
                this.errors.push('Hay campos incompletos.');
            } else {
                if(plate.id) {
                    // Edit existent plate
                    axios.put('/api/plates/' + plate.id, plate).catch(error => {
                        Object.assign(plate, this._beforeEditingCache);
                    });
                } else {
                    // New plate
                    plate.restaurant_id = this.id;
                    console.log(this.laravelData.data.length);
                    axios.post('/api/plates', plate).then((response) => {
                        plate.id = response.data.id;
                    }).catch(error => {
                        this.laravelData.data.splice(this.laravelData.data.length-1, 1);
                    });
                }
                this.currentPlate = null;
            }   
        },
        editPlate(index) {
            this._beforeEditingCache = Object.assign({}, this.laravelData.data[index]);
            this.currentPlate = this.laravelData.data[index]; 
            this.$nextTick(function(){
                this.$refs.name[index].select();
            });
        },
        newPlate() {
            this.laravelData.data.push({name: '', price: '', cost: '', restaurant_id: this.id});
            this.editPlate(this.laravelData.data.length-1);
        },
        cancelEdit(plate, index) {
            Object.assign(plate, this.d_beforeEditingCache);
            this._beforeEditingCache = null;
            this.currentPlate = null;
            if(!plate.id) {
                this.laravelData.data.splice(index, 1);
            }
            this.errors = [];
        },
        getResults(page = 1) {
            axios.get('/api/plates', {params: {restaurant_id: this.id, page: page, numPlates: 10}}).then((response) => {
               this.laravelData = response.data;
            })
        }
    },
    beforeRouteEnter (to, from, next) {
        axios.get('/api/plates', { 
            params: { 
                restaurant_id: to.params.id 
            } 
            }).then((response) => {
            next(vm => (vm.allPlates = response.data) )
        });
    },
    computed: {
        filteredPlates:function()
        {
            var self=this;
            if(self.search.length>0) {
                return this.allPlates.filter(function(plate){return plate.name.toLowerCase().indexOf(self.search.toLowerCase())>=0;});
            } else {
                return this.laravelData.data;
            }
            
        }
    }

}
</script>

<style>
    .edit {
      display: none;
    }
    .editing .edit {
      display: inline
    }
    .editing .view {
      display: none;
    }
</style>