<template>
    <div>
        <div style="max-width:300px">
            <input class="form-control" type="search" placeholder="Buscar plato.." v-model="search" ref="search"> 
        </div>
        <br />
        <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Agregar</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(plate, index) in filteredPlates" :key="index">
                    <td scope="row">{{plate.name}}</td>
                    <td>${{plate.price}}</td>
                    <td><input ref="quantity" class="form-control" type="number"></td>
                    <td><button @click="addPlate(JSON.parse(JSON.stringify(plate)), index)" type="button" class="btn btn-secondary">Agregar</button></td>
                </tr>
            </tbody>
        </table>
        </div>
        <pagination :data="laravelData" @pagination-change-page="getResults"></pagination>
    </div>
</template>


<script>
export default {
    props: ['restaurantId'],
    data() {
        return {
            laravelData: {},
            allPlates: [],
            search: '',
        };
    },
    mounted() {
        this.getResults();
        axios.get('/api/plates?restaurant_id=' + this.restaurantId).then((response) => {
            this.allPlates = response.data;
        });
    },
    methods: {
        addPlate(plate, index) {
            plate.pivot = {};
            plate.pivot.quantity = this.$refs.quantity[index].value;
            if(plate.pivot.quantity > 0) {
                this.$refs.search.focus();
                this.$refs.quantity[index].value = '';
                this.$emit('addPlate', plate);
            } else {
                this.$refs.quantity[index].focus();
            }
        },
        getResults(page = 1) {
            axios.get('/api/plates', {params: {restaurant_id: this.restaurantId, page: page, numPlates:5}}).then((response) => {
               this.laravelData = response.data;
            })
        },
        
    },
    computed: {
        filteredPlates:function()
        {
            var self=this;
            if(self.search.length>0) {
                return this.allPlates.filter(function(plate){return plate.name.toLowerCase().indexOf(self.search.toLowerCase())>=0;});
            } else {
                return this.laravelData.data;
            }
            
        }
    }

}
</script>