<template>
<div>
    <div v-if="alertMsg" class="alert alert-success alert-dismissible show" 
        :class=" {'alert-danger' : alertMsg.status == 'error' }" role="alert" style="display:none">
    <strong></strong> {{ alertMsg.msg }}
    <button type="button" class="close" onclick="$('.alert').hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>

    <div class="pricing card-deck flex-column flex-md-row mb-3">
        <div v-for="service in services" :key="service.id" class="card card-pricing text-center px-3 mb-3" 
            :class="{ 'shadow popular' : service.id==serviceContractedId || (service.id==3 && !$store.state.authenticated) }">

            <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-orange text-white shadow-sm" >{{ service.name }}</span>
            <img :src="service.image" :alt="service.name" class="service-image"/>
            <div class="bg-transparent card-header pt-4 border-0">
                <h1 class="h1 font-weight-normal text-orange text-center mb-0" data-pricing-value="45">
                    <span class="h4 text-muted ml-2">AR$</span>
                    <span class="price">{{ service.price.split(".")[0] }}</span><span class="price-decimal">{{ service.price.split(".")[1] }}</span>
                    <span class="h6 text-muted ml-2">/mes</span>
                </h1>
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4">
                    <li>Hasta {{ service.orders_limit }} pedidos</li>
                    <li v-if="service.id > 1">Soporte</li>
                    <li>Actualizaciones mensuales</li>
                    <li v-if="service.id > 1">Cancelación gratis</li>
                </ul>
                <template v-if="$store.state.authenticated">
                    <button v-if="serviceContractedId>1" @click="changePlanConfirm(service.id)" :disabled="service.id == serviceContractedId" 
                        class="btn btn-outline-secondary mb-3 button">
                        Cambiar plan
                    </button>
                    <a v-else href="https://wa.me/5493794809247?text=Hola! Quisiera contratar un plan de KSResto." target="_blank" class="btn btn-outline-secondary mb-3 button">
                        Obtenerlo ya
                    </a>
                </template>
                <template v-else>
                    <router-link :to="{ name: 'register' }" tag="button" class="btn btn-outline-secondary mb-3 button">
                        Obtenerlo ya
                    </router-link>
                </template>
            </div>
        </div>
        <confirm-modal @confirmed="changePlan" ref="confirmModal">
            <template slot="title">Cambio de plan</template>
            <template slot="data">
                ¿Está seguro que desea cambiar a este plan?
                <br>
                Recuerda que se puede cambiar de plan una vez al mes, como máximo.
            </template>
        </confirm-modal>
    </div>
</div>
</template>



<script>
import store from '../../store.js'
import ConfirmModal from '../Shared/ConfirmModal.vue';

export default {
    components: {
        ConfirmModal
    },
    data() {
        return {
            services: [],
            serviceContractedId: null,
            serviceUpgradeId: null,
            alertMsg: null
        }
    },
    mounted() {
    },
    methods: {
        changePlanConfirm(serviceId) {
            $(this.$refs.confirmModal.$el).modal('show');
            this.serviceUpgradeId = serviceId;
        },
        changePlan(){
            const params = {
                service_id: this.serviceUpgradeId
            };
            axios.put('/api/auth/user/service', params).then((response) => {
                this.serviceContractedId = this.serviceUpgradeId;
                this.alertMsg = response.data;
                this.$nextTick(() => {
                    $(".alert").fadeIn('slow');
                });
            }).catch((error) => {
                this.alertMsg = error.response.data;
                this.$nextTick(() => {
                    $(".alert").show();
                });
            });
        }
    },
    beforeRouteEnter(to, from, next) {
        axios.get('/api/services').then((response) => {
            if (store.state.authenticated) {
                axios.get('/api/auth/user').then((response2) => {
                        next(vm => {
                            vm.services = response.data
                            if (response2.data.service_id) {
                                vm.serviceContractedId = response2.data.service_id;
                            }
                        });
                });    
            } else {
                next(vm => vm.services = response.data);
            }    
        }); 

    }
}
</script>

<style scoped>
.card-pricing {
    padding-bottom: 20px;
}
.card-pricing.popular {
    z-index: 1;
    border: 3px solid #fac564;
}
.card-pricing .list-unstyled li {
    padding: .5rem 0;
    color: #6c757d;
}
.price {
    font-size: 48px;
}
.price-decimal {
    font-size: 20px;
    vertical-align: top;
    color: gray;
}
.service-image {
    height: auto;
    width: 100%;
    max-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.bg-orange {
    background-color: #fac564 !important;
}
.text-orange {
    color: #fac564 !important;
}
</style>
