<template>
    <div>
        <notifications group="foo" position="top center" classes="my-style"/>    
        <div class="card"> 
            <div class="card-header">
                <h5 style="float:left;padding-top:5px">Mesas</h5>
                <new-table :id="id" @new="addTable"></new-table>
            </div>
            
            <div class="card-body">
                <div v-for="table in tables" :key="table.id" @contextmenu.prevent="$refs.menu.open($event, table)">
                    <Table :table="table" @clickTable="clickTable"></Table>
                </div>
                <a style="cursor: pointer;" @click="clickDelivery" class="card text-white mb-3 bg-info delivery-box">
                    <div class="card-header">Delivery</div>
                </a>
                <vue-context ref="menu">
                    <ul slot-scope="child">
                        <li @click="onClick($event.target.innerText, child.data)">Eliminar</li>
                    </ul>
                </vue-context>                     
            </div>
       
        </div>
        <br />
        <div v-show="clicked" class="card">
            <h5 class="card-header" v-if="actualTable">{{ actualTable.name }}</h5>
            <h5 class="card-header" v-else>Delivery</h5>
            <div class="card-body" v-bind:class="{ overlay: isLoadingSales }">
                <v-button v-show="sales.length<=0 || actualTable == null" 
                    @clicked="showNewSaleModal(null, null)" style="margin-bottom:10px;">Nueva Venta</v-button>

                <new-sale :restaurantId="id" :table="actualTable" :sale="currentSale" :order="currentOrder" 
                    @orderAdded="orderAdded" @orderEdited="orderEdited" @saleSaved="saleSaved"
                    ref="addOrderModal" style="float:left"></new-sale>
                    
                <br/>
                <div v-for="sale in sales" :key="sale.id" v-if="sales.length > 0" style="margin-bottom:10px">
                    <div v-bind:class="{ 'card': actualTable==null }">
                    <div v-bind:class="{ 'card-body': actualTable==null }">
                        <sale :sale="sale" @salePaid="salePaid" @showNewSaleModal="showNewSaleModal" @orderDeleted="deleteOrder" />
                    </div>
                    </div>
                </div>
            </div>
        </div>
   
    </div>
</template>

<script>
    import { VueContext } from 'vue-context';
    import NewTable from './NewTable.vue';
    import Table from './Table.vue';
    import Sale from '../Sale/Sale.vue';
    import NewSale from '../Sale/NewSale.vue'

    export default {
        components: {
            VueContext,
            NewTable,
            Table,
            Sale,
            NewSale,
        },
        props: ['id'], //restaurant_id
        data(){
            return {
                tables: [],
                sales: [],
                actualTable: null,
                currentSale: null,
                currentOrder: null,
                isLoadingSales: false,
                clicked: false
            }
        },
        mounted() {
            Echo.private('ordersReady.' + localStorage.getItem('userId'))
                .listen('OrderReadyEvent', (e) => {
                    // Change order color
                    let sale = this.sales.find(x => x.id === e.order.sale.id);
                    if (sale) {
                        let i = 0;
                        for (i=0;i<sale.orders.length;i++) {
                            if (sale.orders[i].id == e.order.id) {
                                sale.orders[i].ready = 1;
                            }
                        }
                    }
                    // Emit push notification
                    this.$notify({
                        group: 'foo',
                        title: 'Pedido #' + e.order.id,
                        text: 'El pedido está listo!',
                        type: 'success',
                        duration: 20000,
                        width: 400
                    });
                })
        },        
        methods: {
            addTable(table) {
                this.tables.push(table);
            },
            clickTable(table) {                
                this.isLoadingSales = true;
                // load table's sales
                if(table.current_sale) {
                    axios.get('/api/sales/' + table.current_sale, {params: {plates: true}}).then((response) => {
                        this.actualTable = table;
                        this.sales = response.data;
                        this.isLoadingSales = false;
                    });
                } else {
                    this.actualTable = table;
                    this.sales = [];
                    this.isLoadingSales = false;
                }
                this.clicked = true;
            },
            clickDelivery(){
                this.isLoadingSales = true;
                // load delivery's sales
                axios.get('/api/sales', {params: {restaurant_id: this.id, plates: true, delivery: true, unpaid: true}}).then((response) => {
                    this.actualTable = null;
                    this.sales = response.data;
                    this.isLoadingSales = false;
                });
                this.clicked = true;
            },
            saleSaved(saleId) {
                if (this.actualTable) this.actualTable.current_sale = saleId;
                axios.get('/api/sales/' + saleId, {params: {plates: true}}).then((response) => {
                    this.sales.unshift(response.data[0]);
                });
            },
            salePaid(sale) {
                this.sales.splice(this.sales.indexOf(sale), 1);
                if(this.actualTable) {
                    this.actualTable.current_sale = null;
                }
            },       
            orderAdded(orderId) {
                axios.get('/api/orders/' + orderId, {params: {plates: true}}).then((response) => {
                    this.sales[this.sales.indexOf(this.currentSale)].orders.unshift(response.data);
                });
            },
            orderEdited(orderId) {
                let currentSaleId = this.sales.indexOf(this.currentSale);
                axios.get('/api/orders/' + orderId, {params: {plates: true}}).then((response) => {
                    const index = this.currentSale.orders.map(e => e.id).indexOf(orderId);
                    this.currentSale.orders.splice(index, 1);
                    this.currentSale.orders.splice(index, 0, response.data);
                });
            },
            deleteOrder(sale, order) {
                sale.orders.splice(sale.orders.indexOf(order), 1);
                if (sale.orders.length == 0) {
                    this.sales.splice(this.sales.indexOf(sale), 1);
                    if (this.actualTable) this.actualTable.current_sale = null;
                    axios.delete('/api/sales/' + sale.id);
                }
            },
            showNewSaleModal(sale, order) {
                this.currentSale = sale;
                this.currentOrder = order;
                this.$nextTick(() => {
                    this.$refs.addOrderModal.show();                
                });
            },
            onClick (text, table) {
                if (text == 'Eliminar'){
                    axios.delete('/api/tables/' + table.id).then((response) => {
                        this.tables.splice(this.tables.indexOf(table), 1);
                    });
                }
            },
        },
        beforeRouteEnter (to, from, next) {
            axios.get('/api/tables', { 
                params: { 
                    restaurant_id: to.params.id 
                } 
                }).then((response) => {
                next(vm => (vm.tables = response.data) )
            });
        }
    }
</script>

<style>
.delivery-box {
    float:left;
    margin-left:5px;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */    
}
.delivery-box:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  transition: .1s ease;
}

.my-style {
  padding: 10px;
  margin: 0 5px 5px;
  font-size: 14px;
  color: #ffffff;
  background: #68CD86;
  border-left: 5px solid #42A85F;
}

</style>