<template>
    <div>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".new-table" style="float:right"><font-awesome-icon icon="plus-circle" />&nbsp;Nuevo</button>
        <div class="modal new-table fade" ref="newTableModal" id="newTableModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title">Nueva mesa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    <div class="modal-body">
                        <form action="" v-on:submit.prevent="">
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" name="name" v-model="name" ref="name">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <v-button :showIcon="isLoading" @clicked="newTable">Guardar</v-button>
                    </div>   
                </div>
            </div>
        </div>
    </div>    
</template>

<script>
    export default {
        props: ['id'],
        data(){
            return{
                name: '',
                isLoading: false,
            };
        },
        mounted() {
            var vm = this;
            $(this.$refs.newTableModal).on("hidden.bs.modal", function(){
                vm.name = '';
            })
            $(this.$refs.newTableModal).on('shown.bs.modal', function() {
                $('input:visible:enabled:first', this).focus();
            });
        },
        methods: {
            newTable(){
                this.isLoading = true;
                const params = {
                    name: this.name,
                    restaurant_id: this.id
                };
                axios.post('/api/tables', params).then((response) => {
                    let table = {
                        id: response.data.id,
                        name: params.name,
                        restaurant_id: params.restaurant_id,
                        current_sale: null
                    };                     
                    this.$emit('new', table);
                    this.name = '';
                    this.isLoading = false;
                });
                $(this.$refs.newTableModal).modal('hide');
            }
        }
    }

</script>