<template>
    <a style="cursor: pointer;" @click="clickTable" class="card text-white mb-3 restaurant-box" v-bind:class="[table.current_sale != null ? 'bg-warning' : 'bg-success']">
        <div class="card-header">{{ table.name }}</div>
    </a>
</template>

<script>
    export default {
        props: ['table'],
        data(){
            return{
            }
        },
        methods: {
            clickTable() {
                this.$emit('clickTable', this.table);
            }
        }
    }
</script>

<style>
.restaurant-box {
    float:left;
    margin-left:5px;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
.restaurant-box:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
</style>