<template>
<button @click="$emit('clicked')" :class="className" :disabled="showIcon">
    <font-awesome-icon :icon="icon" class="fa-spin iconHidden" v-bind:class="{ iconVisible: showIcon }" />
    <slot>Button</slot>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</button>
</template>
​
<script>
export default {
  props: { 
    icon: {String, default: 'circle-notch'},
    showIcon: Boolean,
    className: {String, default: 'btn btn-primary'}
  }
}
</script>


<style>
.iconHidden {
    visibility: hidden
}
.iconVisible {
    visibility: visible
}
</style>