<template>
    <div class="modal fade" ref="confirmModal" tabindex='-1'>
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <slot name="title"></slot>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <slot name="data"></slot>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" @click="confirmed" class="btn btn-primary">Confirmar</button>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
        }
    },
    methods: {
        confirmed() {
            this.$emit('confirmed');
            $(this.$refs.confirmModal).modal('hide');
        }
    }
}
</script>